test.py

.env
.flaskenv
.vscode
.python-version
tmp
venv
*.rdb
*.db
*.DS_Store
app/static/public.pem


__pycache__/
*.py[cod]
*$pytest_cache


*.so

# Distribution / packaging
pip-wheel-metadata
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

test-results
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.log
*.mo
*.pot


instance/
.webassets-cache

.mr.developer.cfg
.project
.pydevproj

.ropeproject

docs/_build/